<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.StudentMapper">

    <insert id="insertStudent" useGeneratedKeys="true" keyProperty="id">
        insert into ssm_student values(#{id},#{name},#{email},#{age})
    </insert>

    <!--<cache></cache>-->
    <select id="selectStudents" resultType="com.example.pojo.Student">
        select id,name,email,age from ssm_student order by id desc
    </select>
</mapper>
