<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.EceUserMapper">

    <resultMap type="com.example.entity.EceUser" id="EceUserMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="eceId" column="ece_id" jdbcType="INTEGER"/>
        <result property="userCode" column="user_code" jdbcType="VARCHAR"/>
        <result property="userName" column="user_name" jdbcType="VARCHAR"/>
        <result property="passWord" column="pass_word" jdbcType="VARCHAR"/>
        <result property="email" column="email" jdbcType="VARCHAR"/>
        <result property="phone" column="phone" jdbcType="VARCHAR"/>
        <result property="birthday" column="birthday" jdbcType="TIMESTAMP"/>
        <result property="age" column="age" jdbcType="INTEGER"/>
        <result property="sex" column="sex" jdbcType="VARCHAR"/>
        <result property="address" column="address" jdbcType="VARCHAR"/>
        <result property="createDate" column="create_date" jdbcType="TIMESTAMP"/>
        <result property="updateDate" column="update_date" jdbcType="TIMESTAMP"/>
        <result property="status" column="status" jdbcType="VARCHAR"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="EceUserMap">
        select id,
               ece_id,
               user_code,
               user_name,
               pass_word,
               email,
               phone,
               birthday,
               age,
               sex,
               address,
               create_date,
               update_date,
               status
        from ece_user
        where ece_id = #{ece_id}
    </select>


    <!--新增所有列-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into ece_user(ece_id, user_code, user_name, pass_word, email, phone, birthday, age, sex, address, status)
        values (#{eceId}, #{userCode}, #{userName}, #{passWord}, #{email}, #{phone}, #{birthday}, #{age}, #{sex},
                #{address}, #{status})
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update ece_user
        <set>
            <if test="eceId != null">
                ece_id = #{eceId},
            </if>
            <if test="userCode != null and userCode != ''">
                user_code = #{userCode},
            </if>
            <if test="userName != null and userName != ''">
                user_name = #{userName},
            </if>
            <if test="passWord != null and passWord != ''">
                pass_word = #{passWord},
            </if>
            <if test="email != null and email != ''">
                email = #{email},
            </if>
            <if test="phone != null and phone != ''">
                phone = #{phone},
            </if>
            <if test="birthday != null">
                birthday = #{birthday},
            </if>
            <if test="age != null">
                age = #{age},
            </if>
            <if test="sex != null and sex != ''">
                sex = #{sex},
            </if>
            <if test="address != null and address != ''">
                address = #{address},
            </if>
            <if test="createDate != null">
                create_date = #{createDate},
            </if>
            <if test="status != null and status != ''">
                status = #{status},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from ece_user where id = #{id}
    </delete>
</mapper>

