<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        <!--1、指定约束文件
               <?xml version="1.0" encoding="UTF-8" ?>
               <!DOCTYPE mapper
                      PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                      "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
               mybatis-3-mapper.dtd 是约束文件的名称，扩展名是dtd的。
            2、约束文件作用：限制，检查在当前文件中出现的标签，属性必须符合 mybatis 的要求。
            3、mapper是当前文件的根标签，必须的。
               namespace：叫做命名空间，唯一值的，可以是自定义的字符串。
                          要求使用 mapper 接口的全限定名称
            4、在当前文件中，可以使用特定的标签，表示数据库的特定操作。
               <select>：表示执行查询，select语句
               <update>：表示更新数据库的操作，就是在<update>标签中 写的是update sql语句
               <insert>：表示插入：放的是insert语句
               <delete>：表示删除，执行的是delete语句
        -->
<mapper namespace="com.example.mapper.InsertMapper">  <!--实体类的映射文件 namespace 指定接口的类全名-->
    <!--
        1、useGeneratedKeys = true 这个表示插入数据之后返回一个自动生成的 主键id 给对应实体类中的主键属性。
                                  通过这个设置可以解决在主键自动生成的情况下通过实体的 getter方法 获取主键
                                 （当然还需要 keyProperty 指明数据库中返回的主键id给实体类中的哪个属性）。
        2、keyProperty = 主键名称，表示查询结果赋值给代码中的哪个属性
        加上这两个设置后，insert 语句中的 #{id,jdbcType=INTEGER} 就可以删掉。
    -->
    <insert id="insert" parameterType="com.example.pojo.Student" useGeneratedKeys="true" keyProperty="id">
        insert into db_student (id, name, email, age)
        values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR},#{email,jdbcType=VARCHAR}, #{age,jdbcType=INTEGER})
    </insert>

    <!--选择性新增数据-->
    <insert id="insertSelective" parameterType="com.example.pojo.Student">
        insert into db_student
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="email != null">
                email,
            </if>
            <if test="age != null">
                age,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                #{email,jdbcType=VARCHAR},
            </if>
            <if test="age != null">
                #{age,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>

</mapper>
