<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <!--将过滤器类文件路径交给Tomcat-->
    <filter>
        <filter-name>OneFilter</filter-name>
        <filter-class>com.example.filter.OneFilter</filter-class>
    </filter>
    <!--通知Tomcat在调用何种资源文件时需要被当前过滤器拦截-->
    <filter-mapping>
        <filter-name>OneFilter</filter-name>
        <url-pattern>/img/mm.jpg</url-pattern>
    </filter-mapping>

</web-app>
