<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>授权确认</title>
</head>
<body style="text-align: center">
    <h2>自定义授权确认页</h2>
    <form th:action="@{/oauth2/authorize}" method="post">
        <div>
            <span th:text="${clientName}" style="font-style:italic;color:blue"></span>
            希望获取账号 <span th:text="${principalName}" style="font-style:italic;color:blue"></span>
            的以下许可：
            <ul style="margin-left: 600px;">
                <ol>
                    <li th:each="scope:${scopes}" style="text-align: left" >
                        <input type="checkbox" name="scope" th:value="${scope}" checked/>
                        <span th:text="${scope}"></span>
                    </li>
                </ol>
            </ul>
        </div>
        <input type="hidden" name="client_id" th:value="${clientId}"/>
        <input type="hidden" name="state" th:value="${state}"/>
        <input type="submit" value="同意"/>
    </form>
</body>
</html>