<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.mapper.StudentMapper">

    <resultMap id="BaseResultMap" type="com.example.domain.Student">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="email" property="email" jdbcType="VARCHAR"/>
        <result column="age" property="age" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, name, email, age
    </sql>

    <!--TODO 以下的所有Sql标签内容都是一样的，主要用于观察返回值类型和在Mapper加上@MapKey注解的区别-->

    <select id="selectByIdBackMap" parameterType="java.lang.Integer" resultType="java.util.Map">
        select
            <include refid="Base_Column_List"/>
        from db_student
        where id = #{id,jdbcType=INTEGER}
    </select>

    <select id="selectByPrimaryKeyMap" parameterType="java.lang.Integer" resultType="java.util.Map">
        select
            <include refid="Base_Column_List"/>
        from db_student
        where id = #{id,jdbcType=INTEGER}
    </select>

    <select id="selectByIdBackStudent" parameterType="java.lang.Integer" resultType="Student">
        select
            <include refid="Base_Column_List"/>
        from db_student
        where id = #{id,jdbcType=INTEGER}
    </select>

    <select id="selectByPrimaryKeyStudent" parameterType="java.lang.Integer" resultType="Student">
        select
            <include refid="Base_Column_List"/>
        from db_student
        where id = #{id,jdbcType=INTEGER}
    </select>

</mapper>
