<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.mapper.InsertMapper">  <!--实体类的映射文件 namespace 指定接口的类全名-->
    <!--
        1、useGeneratedKeys = true 这个表示插入数据之后返回一个自动生成的 主键id 给对应实体类中的主键属性。
                                  通过这个设置可以解决在主键自动生成的情况下通过实体的 getter方法 获取主键
                                 （当然还需要 keyProperty 指明数据库中返回的主键id给实体类中的哪个属性）。
        2、keyProperty = 主键名称，表示查询结果赋值给代码中的哪个属性
        加上这两个设置后，insert 语句中的 #{id,jdbcType=INTEGER} 就可以删掉。
    -->
    <insert id="insert" parameterType="com.example.pojo.Student" useGeneratedKeys="true" keyProperty="id">
        insert into db_student (id, name, teacher_id, email, age, department_id)
        values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{teacherId,jdbcType=INTEGER}, #{email,jdbcType=VARCHAR}, #{age,jdbcType=INTEGER}, #{departmentId,jdbcType=INTEGER})
    </insert>

    <!--选择性新增数据-->
    <insert id="insertSelective" parameterType="com.example.pojo.Student">
        insert into db_student
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="teacherId != null">
                teacher_id,
            </if>
            <if test="email != null">
                email,
            </if>
            <if test="age != null">
                age,
            </if>
            <if test="departmentId != null">
                department_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="teacherId != null">
                #{teacherId,jdbcType=INTEGER},
            </if>
            <if test="email != null">
                #{email,jdbcType=VARCHAR},
            </if>
            <if test="age != null">
                #{age,jdbcType=INTEGER},
            </if>
            <if test="departmentId != null">
                #{departmentId,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>

</mapper>
