<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="myschool" class="com.example.mapper.School">
        <property name="name" value="湖北大学"/>
        <property name="address" value="计算机科学与技术"/>
    </bean>
</beans>