<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, users-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>授权确认</title>
</head>
<body>
    <h2>已授权客户端</h2>
    <ul>
        <li th:each="client:${registeredClients}">
            <form th:action="@{/undo}" method="post">
                <!-- name="_method" 和 value="delete": 这是在模拟HTTP DELETE方法。
                因为HTML表单默认只支持GET和POST方法，所以一些框架（如Spring MVC）允许你通过这种方式来模拟其他HTTP动词。
                当表单被提交时，服务器端可以识别这个特殊参数，并将其作为DELETE请求处理。 [Ajax支持所有的请求方式]-->
                <input type="hidden" name="_method" value="delete"/>
                <span th:text="${client.clientName}" style="font-weight: bold"></span>
                <input type="hidden" name="client_id" th:value="${client.id}"/>
                <input type="submit" value="撤销对该应用的授权"/>
            </form>
        </li>
    </ul>
</body>
</html>
