<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.BatchMapper">

    <insert id="batchInsert" useGeneratedKeys="true">
        insert into db_student (name, email, age)
        values (#{name}, #{email}, #{age})
    </insert>

    <insert id="insertForeach" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="id">
        <!--
            foreach 遇到数量大，会有性能瓶颈。并且Mysql对语句的长度有限制，默认是4M。
            表的列数较多（超过20），建议最多遍历100个就ok了，不要太高。
        -->
        insert into db_student (name, email, age) values
        <foreach collection="list" item="item" index="index" separator=",">
            <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="item.name != null and item.name != ''">
                    #{item.name},
                </if>
                <if test="item.email != null and item.email != ''">
                    #{item.email},
                </if>
                <if test="item.age != null and item.age != ''">
                    #{item.age}
                </if>
            </trim>
        </foreach>
    </insert>
    <!--
        useGeneratedKeys = true 这个表示插入数据之后返回一个自增的主键id给你对应实体类中的主键属性。
                                通过这个设置可以解决在主键自增的情况下通过实体的getter方法获取主键
                               （当然还需要keyProperty指明数据库中返回的主键id给实体类中的哪个属性）。
        keyProperty = 主键，表示查询结果赋值给代码中的哪个属性
        一般来说，加上这两个设置后。#{id}就可以删掉
    -->
</mapper>
