<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--实体类的映射文件 namespace 指定接口的类全名-->
<mapper namespace="com.example.mapper.UserMapper">

    <resultMap id="myUser" type="com.example.pojo.User" autoMapping="true">
        <id column="id" property="id"/>
        <!--这后面还有映射属性没写，但是我加了 autoMapping="true" 属性，可以自动映射(必须是同名)-->

        <!--
            重点: User.list<Order> list 属性 跟 结果集的一部分进行映射

            关系: 一个用户对应多个订单 (一对多)
                1. association : 一对一
                2. collection : 一对多

            # collection 标签
                1. property : 属性名(User实体类中对应的属性名orderList)
                2. ofType : 指定集合的元素类型

             注意: 结果集同名字段的最左原则
        -->
        <collection property="orderList" ofType="com.example.pojo.Order" autoMapping="true">
            <id column="oid" property="id"/>
            <!--这后面还有映射属性没写，但是我加了 autoMapping="true" 属性，可以自动映射(必须是同名)-->
        </collection>
    </resultMap>

    <select id="UserWithOrders" resultMap="myUser">
        select u.*,
               o.id         as oid,
               o.uid,
               o.order_time as orderTime,
               o.money
        from ssm_user u
                 inner join ssm_order o
                            on u.id = o.uid
        where u.id = #{uid}
    </select>
</mapper>
