<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.mapper.StudentMapper">

    <insert id="insertOrUpdateOneUserInfo">
        /* selectKey标签属性：
             keyProperty    表示查询结果赋值给代码中的哪个对象
             keyColumn      表示将查询结果赋值给数据库表中哪一列
             resultType     填入 keyProperty 的 Java 类型
             statementType  要运行的SQL语句，它的返回值通过resultType来指定
             order          表示在执行SQL语句之前还是之后执行selectKey标签中的SQL语句

             注意：使用MySQL的last_insert_id()函数时，before必为false，
                  也就是说必须先插入然后执行last_insert_id()才能获得刚刚插入数据的ID
         */
        <selectKey keyProperty="count" resultType="int" order="BEFORE">
            select count(*) as count from `student` where id = #{id}
        </selectKey>
        <!-- 如果大于0则更新 -->
        <if test="count>0">
            UPDATE `student`
            <set >
                <if test="id != null and id != ''">
                    id = #{id},
                </if>
                <if test="name != null and name != ''">
                    name = #{name},
                </if>
                <if test="email != null and email != ''">
                    email = #{email},
                </if>
                <if test="age != null and age != ''">
                    age = #{age}
                </if>
            </set>
            WHERE id = #{id}
        </if>
        <!-- 如果等于0则保存 -->
        <if test="count==0">
            INSERT IGNORE INTO `student`(`id`, `name`, `email`, `age`)
            VALUES
            (
              #{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR},
              #{email,jdbcType=VARCHAR}, #{age,jdbcType=INTEGER}
            )
        </if>
    </insert>
</mapper>

