<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <servlet>
        <servlet-name>UserAddServlet</servlet-name>
        <servlet-class>com.example.controller.UserAddServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>UserAddServlet</servlet-name>
        <url-pattern>/user/add</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>UserDeleteServlet</servlet-name>
        <servlet-class>com.example.controller.UserDeleteServlet</servlet-class>
    </servlet>


    <servlet-mapping>
        <servlet-name>UserDeleteServlet</servlet-name>
        <url-pattern>/user/delete</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>UserFindServlet</servlet-name>
        <servlet-class>com.example.controller.UserFindServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.example.controller.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>


    <servlet-mapping>
        <servlet-name>UserFindServlet</servlet-name>
        <url-pattern>/user/find</url-pattern>
    </servlet-mapping>


    <!--自定义默认欢迎资源文件规则-->
    <welcome-file-list>
        <welcome-file>login.html</welcome-file>
    </welcome-file-list>


    <!--注册监听器接口实现类-->
    <listener>
        <listener-class>com.example.listener.OneListener</listener-class>
    </listener>

    <!--过滤器注册-->
    <filter>
        <filter-name>OneFilter</filter-name>
        <filter-class>com.example.filter.OneFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>OneFilter</filter-name>
        <url-pattern>/*</url-pattern>  <!--表示的是所有文件都必须要进行过滤-->
    </filter-mapping>
</web-app>
