# spring:
#   r2dbc:
#     password: 131474
#     pool:
#       enabled: true
#     url: r2dbc:postgresql://localhost:5432/smartmatch_ece?currentSchema=smc_ece
#     username: root


server:
  port: 8080
spring:
  application:
    name: '@project.artifactId@'
  main:
    web-application-type: reactive  # 或者 servlet
  r2dbc:
    # DB_CLOSE_DELAY=-1	        JVM 关闭前保持数据库连接
    # DB_CLOSE_ON_EXIT=FALSE	禁止 JVM 关闭时自动关闭数据库
    # AUTO_RECONNECT=TRUE	    自动重连，适用于网络不稳定场景
    # DATABASE_TO_UPPER=FALSE	禁用将未加引号的标识符转换为大写的默认行为【如：H2默认会将表名转为大写】
    # MODE=MySQL	            模拟 MySQL 行为（也支持 PostgreSQL、Oracle 等）
    url: r2dbc:h2:mem:///myTest?options=DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE;DATABASE_TO_UPPER=false;MODE=MySQL
    username: sa
    password:
    pool:
      enabled: true

  sql:
    init:
      mode: always                            # 总是初始化
      schema-locations: classpath:schema.sql  # 建表SQL
      data-locations: classpath:data.sql      # 初始数据


# 日志配置，查看启动信息
logging:
  level:
    org.springframework.boot: INFO
    com.zaxxer.hikari: DEBUG
    web: DEBUG
