<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<!--不想使用静态文件，可以使用
<script src="https://s3.pstatp.com/cdn/expire-1-M/jquery/3.5.1/jquery.min.js"></script>
-->
<script src="/jquery_3.5.1.js"></script>
<script>
    function accessDepart(){
        // 注意：这里不直接跨域，而是通过访问网关的方式让 Gateway 做路由进行跨域操作，并且通过配置解决CORS问题
        // 另外，Query参数是为避免走全局过滤器 UrlValidateGlobalFilter 逻辑
        $.get("http://localhost:8088/provider/1?token=123", function(data){
            alert(JSON.stringify(data))
        })
    }
</script>
<body>
游家纨绔&emsp;&emsp;&emsp;

<input type="button" value="访问Depart" onclick="accessDepart()">
</body>
</html>