<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dao.StudentMapper">

  <resultMap id="BaseResultMap" type="Student" >
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="age" jdbcType="INTEGER" property="age" />
  </resultMap>

  <sql id="Base_Column_List">
    id, name, email, age
  </sql>

  <select id="selectByPrimaryKeyMap" parameterType="java.lang.Integer" resultType="java.util.Map">
    select
    <include refid="Base_Column_List"/>
    from student
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="selectByPrimaryKeyStudent" parameterType="java.lang.Integer" resultType="Student">
    select
    <include refid="Base_Column_List"/>
    from student
    where id = #{id,jdbcType=INTEGER}
  </select>

  <insert id="insertBatch" useGeneratedKeys="true" keyProperty="id">
      insert into student (name, email, age) values
      <foreach collection="list" item="item" index="index" separator=",">
          <trim prefix="(" suffix=")" suffixOverrides=",">
              <if test="item.name != null and item.name != ''">
                  #{item.name},
              </if>
              <if test="item.email != null and item.email != ''">
                  #{item.email},
              </if>
              <if test="item.age != null and item.age != ''">
                  #{item.age}
              </if>
          </trim>
      </foreach>
  </insert>
</mapper>