<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>File Upload Demo</title>
    <link rel="stylesheet" type="text/css" href="/css/progress.css">
</head>
<body>

<!--文件上传-->
<input type="file" id="fileInput" multiple>
<button type="button" onclick="uploadFile()">上传</button>
<br/><br/>
<span id="tips"></span><br/>

<!--进度条-->
<div id="bar-div">
    <div id="bar-warp">
        <div id="bar" ></div>
    </div>
    <button id="stop" onclick="changeFileDownStatusStop()">暂停</button>
    <button id="start" onclick="changeFileDownStatusStart()">启动</button>
</div>
<span id="progress"></span>

<script type="text/javascript" src="/js/crypto.js"></script>
<script type="text/javascript" src="/js/encrypt.js"></script>
<script type="text/javascript">
    let file;               // 文件对象
    let fileName = null;    // 文件名
    let fileId = "";        // 文件唯一标识
    let globalFileMd5 = ""; // 文件的MD5值
    let fileChunkSize = 0;  // 文件分片总数量
    let downFileSize = 0;   // 已经上传的文件分片数量
    let isFileExist = false;     // 文件是否已经存在
    const chunkSize = 1024 * 10;   // 每个分片的大小10KB
    let downFileStatus = true;   // 文件上传的状态：true（开启）、false（暂停）

    // 重置相关变量
    function ResetAttr() {
        return new Promise((resolve) => {
            downFileSize = 0;
            downFileStatus = true;
            document.getElementById('bar').style.width = '0px';
            resolve();
        })
    }

    // 响应【上传】按钮点击事件
    async function uploadFile() {
        await ResetAttr(); // 重置相关变量
        let fileInput = document.getElementById('fileInput');
        file = fileInput.files[0];
        fileName = fileInput.files[0].name;
        // 计算整个文件的 MD5值，用于传给后端进行文件库查询，判断文件是否已经存在。
        await calculateMD5(file).then(async fileMD5 => {
            // 发送请求给后端，判断文件是否已经存在（秒传逻辑）
            await checkFileExist(fileMD5);
        })
        // 如果文件不存在，则开始分片上传
        if (!isFileExist) {
            // 由于 shardingFileDown() 是异步函数，所以在进行调用的时候要么加上 await关键字，
            // 要么通过 .then() 和 .catch() 方法来处理返回的 Promise
            // 示例：await shardingFileDown();

            // 我们并不需要顺序执行代码，因此不使用 await 关键字，而是使用 .then() 方法来进行调用
            shardingFileDown().then(() => {console.log('分片文件上传结束或者被暂停！')});
        }
    }

    // 检测该文件在服务器中是否存在
    async function checkFileExist(fileMD5) {
        return new Promise((resolve, reject) => {
            const formData = new FormData();
            formData.append('fileMD5', fileMD5);
            const xhr = new XMLHttpRequest();
            xhr.open('POST', '/file2/teleport', true);
            xhr.onload = () => {
                if (xhr.status === 200) {
                    isFileExist = (xhr.responseText === 'true')
                    console.log(isFileExist ? '文件已存在，感受秒传！' : '文件不存在，开始上传！');
                    if (isFileExist) {
                        return new Promise(() => {
                            document.getElementById("tips").innerText = '该文件已经上传！';
                        });
                    }
                    globalFileMd5 = fileMD5;
                    resolve();
                } else {
                    console.log('文件校验出错了！！！');
                    reject();
                }
            };
            xhr.send(formData);
        })
    }


    // 分片上传文件
    async function shardingFileDown() {
        fileChunkSize = Math.ceil(file.size / chunkSize);
        for (let i = 0; i < fileChunkSize; i++) {
            try {
                if (!downFileStatus) {
                    return Promise.resolve('文件上传处于暂停状态！');
                }
                await uploadChunk(file, i);
            } catch (error) {
                console.error('Failed to upload chunk', i, error);
                // 如果上传失败，则尝试恢复上传
                try {
                    await uploadChunk(file, i);
                } catch (error) {
                    console.error('Failed to resume upload', i, error);
                    return;
                }
            }
        }
        // 合并文件
        try {
            const fileUrl = await mergeFile();
            console.log('File URL:', fileUrl);
            document.getElementById("tips").innerText = '文件上传成功！'
        } catch (error) {
            console.error('Failed to merge file', error);
        }
    }

    function uploadChunk(file, chunkIndex) {
        return new Promise((resolve, reject) => {
            let fileTemp = file.slice(chunkIndex * chunkSize, (chunkIndex + 1) * chunkSize);
            fileTemp.fileName = fileName;
            // 计算分片文件的 MD5值，用于传给后端进行文件库查询，判断文件是否已经存在。
            let fileTempMD5 = calculateMD5(fileTemp);
            fileTempMD5.then(chunkMD5 => {
                const formData = new FormData();
                // 注意⚠️：后端想要获取分片文件的文件名只能传过去
                formData.append('chunk', fileTemp, fileTemp.fileName);
                formData.append('chunkIndex', chunkIndex);
                formData.append('chunkMD5', chunkMD5);
                formData.append('fileId', fileId);
                const xhr = new XMLHttpRequest();
                xhr.open('POST', '/file2/upload', true);
                xhr.onload = () => {
                    if (xhr.status === 200) {
                        resolve(xhr.response);
                        downFileSize++;
                        fileId = xhr.responseText
                    } else {
                        reject(xhr.statusText);
                    }
                };
                xhr.onerror = () => {
                    reject(xhr.statusText);
                };
                // 监听上传文件的进度百分比
                xhr.upload.onprogress = (ev) => {
                    // ev.lengthComputable 是一个布尔值，表示当前上传的资源是否具有可计算的长度
                    if (ev.lengthComputable) {
                        // ev.loaded：已传输的字节;   ev.total：需传输的总字节
                        let progress = 100 * (((downFileSize-1) / fileChunkSize) + (1 / fileChunkSize) * (ev.loaded / ev.total));
                        console.log(progress);
                        // 更改进度条，及百分比
                        document.getElementById('bar').style.width = progress + '%';
                        document.getElementById('progress').innerHTML = Math.round(progress) + '%';
                    }
                }
                xhr.send(formData);
            })
        });
    }

    function mergeFile() {
        return new Promise((resolve, reject) => {
            const xhr = new XMLHttpRequest();
            const formData = new FormData();
            formData.append('fileId', fileId);
            formData.append('fileName', fileName);
            formData.append('fileChunkSize', fileChunkSize);
            formData.append('fileMD5', globalFileMd5);
            xhr.open('POST', '/file2/merge', true);
            xhr.onload = () => {
                if (xhr.status === 200) {
                    resolve(xhr.response);
                    // 更改进度条，及百分比
                    document.getElementById('bar').style.width = '100%';
                    document.getElementById('progress').innerHTML = '100%';
                } else {
                    reject(xhr.statusText);
                }
            };
            xhr.onerror = () => {
                reject(xhr.statusText);
            };
            xhr.send(formData);
        });
    }


    // 点击【启动】按钮的事件
    async function changeFileDownStatusStart() {
        if (!downFileStatus) {
            downFileStatus = true;
            if (downFileSize < fileChunkSize && downFileSize > 1 && fileChunkSize > 1) {
                for (let i = downFileSize; i < fileChunkSize; i++) {
                    try {
                        if (!downFileStatus) {
                            return Promise.resolve('文件上传处于暂停状态！');
                        }
                        await uploadChunk(file, i);
                    } catch (error) {
                        console.error('Failed to upload chunk', i, error);
                        // 如果上传失败，则尝试恢复上传
                        try {
                            await uploadChunk(file, i);
                        } catch (error) {
                            console.error('Failed to resume upload', i, error);
                            return;
                        }
                    }
                }
                // 合并文件
                try {
                    const fileUrl = await mergeFile();
                    console.log('File URL:', fileUrl);
                    document.getElementById("tips").innerText = '文件上传成功！'
                } catch (error) {
                    console.error('Failed to merge file', error);
                }
            }
        }
    }

    // 点击【暂停】按钮的事件
    function changeFileDownStatusStop() {
        downFileStatus = false;
    }
</script>
</body>
</html>